<mat-list style="flex:1">
    <mat-list-item [routerLink]="['/Dashboard']">
        <mat-icon>live_tv</mat-icon>
        Livestream
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <mat-icon>receipt</mat-icon>
        Quản lý đơn hàng
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <mat-icon>face</mat-icon>
        Quản lý khách hàng
    </mat-list-item>
</mat-list>
<div>
    <mat-list>
        <mat-list-item>
            <mat-icon>settings</mat-icon>
            Cấu hình
        </mat-list-item>
    </mat-list>
</div>