<div class="container">
    <mat-form-field>
        <mat-label>Ngày Livestream</mat-label>
        <input readonly matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
        <button (click)="testFB()">Test</button>
        <ng-container *cdkVirtualFor="let item of invoceList">
            <mat-card class="mb-1 custom-mat-card">
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-content>
                    <p>This card has divider and indeterminate progress as footer</p>
                </mat-card-content>
            </mat-card>
        </ng-container>
    </cdk-virtual-scroll-viewport>

</div>