<ng-container *ngIf="(live | async) === null">
    <div class="live_status_bar">
        {{(live | async) !== null ? 'Đang live': 'Không tìm thấy live nào'}}
    </div>
    <button mat-raised-button class="bttn-find-live" color="primary" (click)="getLiveVideo()">
        Tìm livestream hiện tại
    </button>

    <div class="paging">
        <div class="paging-number">
            <a href="#" *ngFor="let number of (totalPage$ | async)">
                {{number}}
            </a>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="(live | async) !== null">
    <div class="invoice_info">
        Số thứ tự đơn hàng tiếp theo: <strong class="number">
            0{{ invoiceNumber$.value }}
        </strong>
    </div>
</ng-container>
<ng-template #chatDetailContainer></ng-template>


<button (click)="sendMessageTest()">Send a message</button>